<p>Olá <%= @resource.profile_member.full_name %>!</p>

<p>Alguém fez a requisição de uma nova senha para seu perfil, você pode alterá-la pelo link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você a fazer esta requisição, ignore este email.</p>
<p><p>Sua senha não será alterada até que acesse o link acima e crie uma nova senha.</p>.</p>
